node_modules/@esbuild node_modules/esbuild node_modules/nanoid node_modules/picocolors node_modules/postcss node_modules/@rollup node_modules/rollup node_modules/source-map-js node_modules/three node_modules/@types node_modules/vite
node_modules/@esbuild node_modules/esbuild node_modules/nanoid node_modules/picocolors node_modules/postcss node_modules/@rollup node_modules/rollup node_modules/source-map-js node_modules/three node_modules/@types node_modules/vite
node_modules/
